---
layout: layout.njk
title: Health & Sunlight
subtitle: Today
---

<div class="container"> 
    <section class="section">
    {% set cityName = "Dublin" %}
    {% include "impress-header.njk"%}
    <div class="columns">
        <!-- AQI card -->
        {% set aqiLevel = "45" %}
        {% set qualityLevel = "Good" %}
        {% set contentText = "Air quality is considered satisfactory, and air pollution poses little or no risk for most people." %}
        {% set tipText = "Tip: Take a short walk outdoors around midday to make the most of limited daylight and briefly ventilate indoor spaces when temperatures are highest since air quality is good." %}
        {% include "impress-aqi-card.njk"%}
        
        <!-- Bee pollen card -->
        {% set pollenLevel = "Low" %}
        {% set contentText = "Pollen levels are low today. Most people, including those with hay fever or allergies, are unlikely to experience symptoms outdoors." %}
        {% set tipText = "Tip: Enjoy outdoor activities with minimal allergy risk, keep windows open for fresh air if comfortable, and take advantage of the low pollen levels for exercise or time outside." %}
        {% include "impress-bee-pollen.njk"%}
        
        <!-- Sunrise / Sunset / Daylight card -->
        {% set daylight = "7:31" %}
        {% set sunrise = "08:39" %}
        {% set sunset = "16:10" %}
        {% set contentText = "Short daylight and cold conditions limit outdoor time today. Try to get outside around midday when light levels are highest, dress warmly, and take advantage of the low pollen levels for a brief walk or fresh air without allergy concerns." %}
        {% include "impress-sunrise-sunset.njk"%}
    </div>
    </section>

    <section class="section">
    {% set cityName = "Cork" %}
    {% include "impress-header.njk"%}
    <div class="columns">
        <!-- AQI card -->
        {% set aqiLevel = "61" %}
        {% set qualityLevel = "Moderate" %}
        {% set contentText = "Most people can continue usual outdoor activities, but individuals who are sensitive to air pollution may experience mild discomfort." %}
        {% set tipText = "Tip: consider reducing prolonged or intense outdoor exercise if you are sensitive to air pollution." %}
        {% include "impress-aqi-card.njk"%}
        
        <!-- Bee pollen card -->
        {% set pollenLevel = "Low" %}
        {% set contentText = "Pollen levels are low today. Most people, including those with hay fever or allergies, are unlikely to experience symptoms outdoors." %}
        {% set tipText = "Tip: Enjoy outdoor activities with minimal allergy risk, keep windows open for fresh air if comfortable, and take advantage of the low pollen levels for exercise or time outside." %}
        {% include "impress-bee-pollen.njk"%}
        
        <!-- Sunrise / Sunset / Daylight card -->
        {% set daylight = "7:47" %}
        {% set sunrise = "08:40" %}
        {% set sunset = "16:27" %}
        {% set contentText = "Short daylight and cold conditions limit outdoor time today. Try to get outside around midday when light levels are highest, dress warmly, and take advantage of the low pollen levels for a brief walk or fresh air without allergy concerns." %}
        {% include "impress-sunrise-sunset.njk"%}
    </div>
    </section>

    <section class="section">
    {% set cityName = "Galway" %}
    {% include "impress-header.njk"%}
    <div class="columns">
        <!-- AQI card -->
        {% set aqiLevel = "33" %}
        {% set qualityLevel = "Good" %}
        {% set contentText = "Air quality is considered satisfactory, and air pollution poses little or no risk for most people." %}
        {% set tipText = "Tip: Take a short walk outdoors around midday to make the most of limited daylight and briefly ventilate indoor spaces when temperatures are highest since air quality is good." %}
        {% include "impress-aqi-card.njk"%}
        
        <!-- Bee pollen card -->
        {% set pollenLevel = "Low" %}
        {% set contentText = "Pollen levels are low today. Most people, including those with hay fever or allergies, are unlikely to experience symptoms outdoors." %}
        {% set tipText = "Tip: Enjoy outdoor activities with minimal allergy risk, keep windows open for fresh air if comfortable, and take advantage of the low pollen levels for exercise or time outside." %}
        {% include "impress-bee-pollen.njk"%}
        
        <!-- Sunrise / Sunset / Daylight card -->
        {% set daylight = "7:32" %}
        {% set sunrise = "08:50" %}
        {% set sunset = "16:22" %}
        {% set contentText = "Short daylight and cold conditions limit outdoor time today. Try to get outside around midday when light levels are highest, dress warmly, and take advantage of the low pollen levels for a brief walk or fresh air without allergy concerns." %}
        {% include "impress-sunrise-sunset.njk"%}
    </div>
    </section>

    <section class="section">
    {% set cityName = "Bundoran" %}
    {% include "impress-header.njk"%}
    <div class="columns">
        <!-- AQI card -->
        {% set aqiLevel = "67" %}
        {% set qualityLevel = "Moderate" %}
        {% set contentText = "Most people can continue usual outdoor activities, but individuals who are sensitive to air pollution may experience mild discomfort." %}
        {% set tipText = "Tip: consider reducing prolonged or intense outdoor exercise if you are sensitive to air pollution." %}
        {% include "impress-aqi-card.njk"%}
        
        <!-- Bee pollen card -->
        {% set pollenLevel = "Low" %}
        {% set contentText = "Pollen levels are low today. Most people, including those with hay fever or allergies, are unlikely to experience symptoms outdoors." %}
        {% set tipText = "Tip: Enjoy outdoor activities with minimal allergy risk, keep windows open for fresh air if comfortable, and take advantage of the low pollen levels for exercise or time outside." %}
        {% include "impress-bee-pollen.njk"%}
        
        <!-- Sunrise / Sunset / Daylight card -->
        {% set daylight = "7:18" %}
        {% set sunrise = "08:54" %}
        {% set sunset = "16:12" %}
        {% set contentText = "Short daylight and cold conditions limit outdoor time today. Try to get outside around midday when light levels are highest, dress warmly, and take advantage of the low pollen levels for a brief walk or fresh air without allergy concerns." %}
        {% include "impress-sunrise-sunset.njk"%}
    </div>
    </section>

    <section class="section">
    {% set cityName = "Waterford" %}
    {% include "impress-header.njk"%}
    <div class="columns">
        <!-- AQI card -->
        {% set aqiLevel = "50" %}
        {% set qualityLevel = "Good" %}
        {% set contentText = "Air quality is considered satisfactory, and air pollution poses little or no risk for most people." %}
        {% set tipText = "Tip: Take a short walk outdoors around midday to make the most of limited daylight and briefly ventilate indoor spaces when temperatures are highest since air quality is good." %}
        {% include "impress-aqi-card.njk"%}
        
        <!-- Bee pollen card -->
        {% set pollenLevel = "Low" %}
        {% set contentText = "Pollen levels are low today. Most people, including those with hay fever or allergies, are unlikely to experience symptoms outdoors." %}
        {% set tipText = "Tip: Enjoy outdoor activities with minimal allergy risk, keep windows open for fresh air if comfortable, and take advantage of the low pollen levels for exercise or time outside." %}
        {% include "impress-bee-pollen.njk"%}
        
        <!-- Sunrise / Sunset / Daylight card -->
        {% set daylight = "7:43" %}
        {% set sunrise = "08:37" %}
        {% set sunset = "16:20" %}
        {% set contentText = "Short daylight and cold conditions limit outdoor time today. Try to get outside around midday when light levels are highest, dress warmly, and take advantage of the low pollen levels for a brief walk or fresh air without allergy concerns." %}
        {% include "impress-sunrise-sunset.njk"%}
    </div>
    </section>

    <section class="section">
    {% set cityName = "Sligo" %}
    {% include "impress-header.njk"%}
    <div class="columns">
        <!-- AQI card -->
        {% set aqiLevel = "56" %}
        {% set qualityLevel = "Moderate" %}
        {% set contentText = "Most people can continue usual outdoor activities, but individuals who are sensitive to air pollution may experience mild discomfort." %}
        {% set tipText = "Tip: consider reducing prolonged or intense outdoor exercise if you are sensitive to air pollution." %}
        {% include "impress-aqi-card.njk"%}
        
        <!-- Bee pollen card -->
        {% set pollenLevel = "Low" %}
        {% set contentText = "Pollen levels are low today. Most people, including those with hay fever or allergies, are unlikely to experience symptoms outdoors." %}
        {% set tipText = "Tip: Enjoy outdoor activities with minimal allergy risk, keep windows open for fresh air if comfortable, and take advantage of the low pollen levels for exercise or time outside." %}
        {% include "impress-bee-pollen.njk"%}
        
        <!-- Sunrise / Sunset / Daylight card -->
        {% set daylight = "7:20" %}
        {% set sunrise = "08:54" %}
        {% set sunset = "16:14" %}
        {% set contentText = "Short daylight and cold conditions limit outdoor time today. Try to get outside around midday when light levels are highest, dress warmly, and take advantage of the low pollen levels for a brief walk or fresh air without allergy concerns." %}
        {% include "impress-sunrise-sunset.njk"%}
    </div>
    </section>
</div>