<footer class="footer mt-6">
    <div class="container">
      <article class="content has-text-centered">
        <p class="is-flex is-align-items-center is-justify-content-center">
          <img class="image is-32x32 is-inline" src="/images/logo-footer.png" alt="(Whether)Weather">&nbsp;
          <img class="image is-32x32 is-inline" src="/images/branding.png" alt="(Whether)Weather">
          <span>&nbsp;&nbsp;Your.Forecast</span>
        </p>
      </article>
    </div>
</footer>