<div class="toggle-row">
    <label class="toggle">
        <input 
            type="checkbox" 
            id="{{favCity}}" 
            {% if isChecked %}checked{% endif %}
            >
        <span class="slider"></span>
    </label>
    <span class="toggle-label">{{cityName}}</span>
</div>