<div class="column is-one-third">
    <section class="card has-background-dark has-text-white has-text-weight-bold">
        <article class="card-content has-text-centered">
            <a href="{{page}}">
                <p> {{cityName}} </p>
                <figure class="image is-48x48 mx-auto my-2">
                    <img src="{{dashImage}}" alt="Image">
                </figure>
                <p> {{dashWeatherForecast}} </p>
            </a>
        </article>
    </section>
</div>