<div class="column">
        <section class="card has-background-dark has-text-light">
            <article class="card-content">
            <p class="title is-4 has-text-white">Air Quality Index (AQI)</p>
            <p class="title is-2 has-text-white">{{aqiLevel}}</p>
            <p class="subtitle is-6 has-text-white">{{qualityLevel}}</p>
            <p class="content">
                {{contentText}}
            </p>
            <p class="content is-size-7">
                {{tipText}}
            </p>
            </article>
        </section>
        </div>