<div class="column">
        <div class="card has-background-warning-light">
            <div class="card-content">
            <p class="title is-4 has-text-dark">Bee Pollen Levels</p>
            <p class="title is-2 has-text-dark">{{pollenLevel}}</p>
            <p class="content">
                {{contentText}}
            </p>
            <p class="content is-size-7">
                {{tipText}}
            </p>
            </div>
        </div>
        </div>