<nav class="navbar is-large">
    <div class="container is-three-quarters">

      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img class="navbar-logo" src="/images/logo.png" alt="Logo" />
        </a>
      
        <span class="navbar-burger" data-target="navbarMenu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </span>
      </div>
    
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <a href="/" class="navbar-item has-text-warning has-text-weight-bold">Home</a>
          <a href="/dashboard" class="navbar-item has-text-warning has-text-weight-bold">Dashboard</a>
          <a class="navbar-item has-text-warning has-text-weight-bold">Settings</a>
          <a class="navbar-item has-text-warning has-text-weight-bold">More+</a>
        </div>
      </div>

    </div>
</nav>