<nav class="navbar is-large has-shadow">
    <div class="container is-three-quarters">

      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img class="navbar-logo" src="/images/logo.png" alt="Logo" />
        </a>
      
        <span class="navbar-burger" data-target="navbarMenu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </span>
      </div>
    
      <div id="navbarMenu" class="navbar-menu"><!-- is-active?  -->
        <div class="navbar-end">
          <a href="/" class="navbar-item has-text-dark">Home</a>
          <a href="/dashboard" class="navbar-item has-text-dark">Dashboard</a>
          <a href="/impress" class="navbar-item has-text-dark">Health & Sunlight</a>
          <a href="/settings" class="navbar-item has-text-dark">Settings</a>
        </div>
      </div>

    </div>
</nav>